<div class='panel panel-default'>
    <div class='panel-header'>
        <h4>Projects on the Drafting Board</h4>
    </div>
    <div class='row'>
            {% for project in project_drafts %}
                <div class='col-md-3'>
                    <a href = "{% url 'prj_edit' project.project_id %}">
                        <div class='thumbnail'>
                            <!-- THERE IS A HARD CODED PATH HERE THAT NEEDS TO BE FIXED -->
                                <img src='{{project_draft_images_dict|get_item:project|default:"/media/default_images/project_image/no-image.jpg"}}' alt=''>
                            <div class='caption'>
                                {{project.project_name}}
                            </div>
                        </div>
                    </a>    
                </div>           
            {% endfor %} 
    </div>  
</div>