<!DOCTYPE html>
{% load crispy_forms_tags %}

<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>{% block title %}FABREKAT{% endblock %} </title>
        <meta charset="utf-8" />

        {% load staticfiles %}
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <!-- BootStrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Magnific Popup -->
        <link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}"> 
        <script src="{% static 'magnific-popup/jquery.magnific-popup.js' %}"></script>


        <style>
            body {
                padding-top:80px;
            }

            #brandLogo {
                max-width:245px;
                margin-top:-15px;
            }

            #stepContainer {
                
            }

            .createPopup {
                position: relative;
                background: #FFF;
                padding: 20px;
                width: auto;
                max-width: 700px;
                margin: 20px auto;
            }




        </style>
        
        

        {% block extra_head %} {% endblock %}
    </head>
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand hidden-xs" href="{% url 'haystack_search' %}">
                                <img src="{% static 'images/logo-large.png' %}" id='brandLogo'>
                            </a>
                        </div>                            
                    
                        <div class="collapse navbar-collapse" aria-expanded="false" style="height: 1px;">
                            {% if user.username == "" %}
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'auth_login' %}"> Log In</a></li>
                                </ul>
                            {% else %}
                                <ul class="nav navbar-nav">
                                    <li><a id="create-project-ajax-popup" href="{% url 'prj_create' %}">Create Project</a></li>
                                    <li><a href="{% url 'my_profile' user.username  %}"> My Profile </a></li>
                                    <li><a href="{% url 'auth_logout' %}"> Logout</a></li>
                                </ul>                             
                            {% endif %}
                        </div>
                        <form method="get" action="." type="search" class='navbar-form-fluid' role='search'>
                            <div class='input-group'>
                                <span class='input-group-btn'><button type="submit" class="btn btn-default">Go!</button></span>
                                <input class="form-control" id="id_q" name="q" type="search" placeholder="Search"></input>
                            </div>
                        </form>    
                        </div>                   
            </div>
<body>
            {% block body %}{% endblock %}
            {% block extra_body %}{% endblock %}

    <script>
        $(document).ready(function() {

            $('#create-project-ajax-popup').magnificPopup({
                type: 'ajax',
                closeBtnInside:true,
                closeOnBgClick:false,

            });
            
        }); 
    </script>
</body>
</html

