<!DOCTYPE html>
{% load url from future %}
{% load account_tags %}

<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		{% load staticfiles %}
		<title>{% block title %}Fabrəkāt{% endblock %} </title>
		 <meta charset="utf-8" />
		<script src='http://code.jquery.com/jquery-latest.js'></script> 
		<link href='http://fonts.googleapis.com/css?family=Cambo' rel='stylesheet' type='text/css'>
		{% block extra_head %} {% endblock %}
	</head>
	
<header>
	<!-- Temporary Point to project list -->
	<h1><a href="{% url 'home' %}">Fabrəkāt</a><span id="version"></span></h1>
	<nav>
		<ul>
			<li> <a href="{% url 'prj_create' %}"> Create Project </a> </li>
			<li> <a href="{% url 'account_signup' %}"> Signup </a> *Broken Until we get functioning Email</li>
			<li> <a href="{% url 'account_login' %}"> Login </a> </li>
			<li> <a href="{% url 'account_logout' %}"> Logout </a> </li>
			<li> <a href="{% url 'account_settings' %}"> Account Settings </a> *This will be Designer Account View/ Lurker Account View</li>
			<li> <a href="{% url 'my_saved_projects' %}"> My Saved Projects </a> </li>
			<li> <a href="{% url 'my_projects' %}"> My Projects </a> </li>
			<li> <a href="{% url 'fab_create' %}"> Become A Fabricator </a> *Need to Add Boolean to appear if user is a Fabricator or not</li>

			
			<li> Current Logged in as {{ user.username }} </li>
		</ul>
	</nav></p>			
</header>
	
	<body>
		{% block body %}{% endblock %}
		{% block extra_body %}{% endblock %}
		
	</body>
</html

