{% extends "site_base.html" %}
{% load follow_tags %}
{% load thumbnail %}
{% load filename %}
{% load mathfilters %}

{%block body %}
<div class='container-fluid'>
    <div class='page-header'>
        <h1>{{user_profile.user}}</h1>
    </div>
    {% include "designprofiles/public profile components/profile_info.html"%}
    {% include "designprofiles/public profile components/published_projects.html"%}
    {% include "designprofiles/public profile components/projects_in_work.html"%}

</div>

<script>
  $(function() {
    $( ".accordion-project-steps" ).accordion();
    collapsible: true;
  });
  </script>

{% endblock %}
