{% extends "site_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Images - {{block.super}}{% endblock %}

{%block extra_head %} 
	<head>
		{% load staticfiles %}
		<script src='http://code.jquery.com/jquery-latest.js'></script>
	    <script src= "{% static 'project/js/jquery.formset.js' %}" > </script>
	    <script src="{% static 'project/js/jquery.formset.min.js' %}" ></script>
	</head>
{% endblock %}


{% block body %}
	<body>
		<div class='container createPopup'>
			<div class='page-header'>
				<h1>Add Images</h1>
			</div>
	        <form enctype="multipart/form-data" method='POST' action="{% url 'add_image' project_id %}">
	        	{% crispy form %}
			</form>
		</div>  
	</body>        

{% endblock %}
