{% extends "site_base.html" %}

{% block title %}Add Step - {{block.super}}{% endblock %}

{% load crispy_forms_tags %}

{%block extra_head %} 
	<head>
		{% load staticfiles %}
		<script src='http://code.jquery.com/jquery-latest.js'></script>
	    <script src= "{% static 'project/js/jquery.formset.js' %}" > </script>
	    <script src="{% static 'project/js/jquery.formset.min.js' %}" ></script>	    
  
	 
	       
<!--	    <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}"> -->
	</head>

{% endblock %}


{% block body %}
	<body>
		<div class='container'>
			<div class='page-header'>
				<h1>Add Step</h1>
			</div>

			<form enctype="multipart/form-data" method='POST'>

					{% crispy form %}
					{% crispy purchasedcomponent_formset purchasedcomponent_formset_helper %}
					{% crispy projectfile_formset formset_helper %}				
					{% crispy fabricatedcomponent_formset fabricatedcomponent_formset_helper %}

				<input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
				
			</form>
	    </div>
	</body>

{% endblock %}