{% extends "site_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create - {{block.super}}{% endblock %}

{%block extra_head %} 
	<head>
		{% load staticfiles %}
		{% load widget_tweaks %}
		<script src='http://code.jquery.com/jquery-latest.js'></script>
	    <script src= "{% static 'project/js/jquery.formset.js' %}" > </script>
	    <script src="{% static 'project/js/jquery.formset.min.js' %}" ></script>
	    <!-- Autocomplete_light needs to be loaded AFTER jquery -->

	    <style>
	    #createPopup {
			position: relative;
			background: #FFF;
			padding: 20px;
			width: auto;
			max-width: 500px;
			margin: 20px auto;
	    }


	    </style>

	</head>
{% endblock %}


{% block body %}
	<body>
		<div class='container-fluid' id='createPopup'>
			<div class='page-header'>
	        	<h1>Create Project</h1>
        	</div>
	       {% crispy form %}


	    </div>

<script>

	$('#id_project_name').blur(function() 
	{
		if( !$(this).val() ) {
			$('#create_project_button').prop('disabled', true);
		} else {
			$('#create_project_button').prop('disabled', false);
		}

	});


	        <form enctype="multipart/form-data" method='post' action="{% url 'prj_create' %}" role='form-horizontal'>
	            {% csrf_token %}
	            <div class='form-group'>
	            	<label class='control-label' for="id_project_name">Project Name</label>
	                {% render_field form.project_name class+="form-control"%}         	
	            </div>
	            <button type="submit" value="Save Project" name = '_save' class='btn btn-default' id='create_project_button' disabled>Submit</button>
	        </form>	


</script>


	</body>

{% endblock %}





