{% load crispy_forms_tags %}
{% load mathfilters %}
{% load filename %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

	<head>
		{% load staticfiles %}
		<script src='http://code.jquery.com/jquery-latest.js'></script>
	    <script src= "{% static 'project/js/jquery.formset.js' %}" > </script>
	    <script src="{% static 'project/js/jquery.formset.min.js' %}" ></script>	    
  
	 
	       
<!--	    <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}"> -->
    <style>
    #stepPanelHeadingActive {
        background:orange;
    }

    #activeEdit {
        border-color:orange;
    }

    .editControlButton {
        background-color:white;
        height:45px;
        margin-left:5px;
    }
    
    .mediaButton {
        width:30%;
    }

    #mediaButtonContainer {
        height:100%;
    }  

    .mediaButtonGlyph {
        font-size:25px;
    }      

    .hiddenMedia {
        display: none;
    }

    .activeMedia {
    }



    </style>


    
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}"> 
    <script src="{% static 'magnific-popup/jquery.magnific-popup.js' %}"></script>   


    <script>
        $('.ajax-popup').magnificPopup({
            type: 'ajax',
            closeBtnInside:true,
            closeOnBgClick:false,
        });  

        $(document).ready(function() {
            $(".stepImage").magnificPopup({
            type:'image',
            zoom:{
                enabled:true,
            }
            });
        })
       


        $('#stepPostForm_{{step}}').on('submit', function(event) {
            formdata = new FormData($(this).get(0));
            event.preventDefault();
            $.ajax({
                url:'{% url "save_edit_step" project_id=project_id step_id=step %}',
                type:'POST',
                data: formdata,
                processData:false,
                contentType:false,
                success: function(){
                    $('#activeEdit').parent().load('{% url "load_step" project_id=project_id step_id=step %}')
                }
            })
        });
        {% for component in purchasedcomponent %}
            $('.componentDeleteButton{{component.id}}').on('click', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '{% url "delete_component" project_id=project_id step_id=step component_id=component.id %}',
                    success: function(){
                            $('#activeEdit').parent().load('{% url "load_edit_step" project_id %}'+'?'+$.param({stepid: '{{step}}'}));
                            $('.ajax-popup').close();
                        },
                    })
            });

        {% endfor %}


        $('#exitEditStep').on('click', function(event){
            $('#activeEdit').parent().load('{% url "load_step" project_id=project_id step_id=step %}');
        })

        $('#addComponent').click(function() {
            var form_idx = $('#id_purchasedcomponent_set-TOTAL_FORMS').val();
            $('#componentTBody').append($('#emptyTBody').html().replace(/__prefix__/g, form_idx));
            $('#id_purchasedcomponent_set-TOTAL_FORMS').val(parseInt(form_idx)+1);
        });

    $('.mediaButton').on('click', function(){
       
        var currentMedia = $('.activeMedia');
        var desiredMediaButton = $(this);
            if (desiredMediaButton.attr('id') =='videoButton'){
                var desiredMedia = $('#videoMedia');
            } else {
                var desiredMedia = $('#pictureMedia');
            }
            toggleMedia(currentMedia, desiredMedia);
    })

    function toggleMedia(currentMedia, desiredMedia) {
        if (currentMedia == desiredMedia) {
        } else {
            currentMedia.removeClass('activeMedia');
            desiredMedia.addClass('activeMedia');
            currentMedia.addClass('hiddenMedia');
            desiredMedia.removeClass('hiddenMedia');
        }
        }        


    </script>


	</head>
<span class='landing' id='activeEditLanding'></span>
<div class='panel panel-default' id= 'activeEdit'>
        <div class='panel-heading' id='stepPanelHeadingActive'data-step-id='{{step}}'> 

            <button id='exitEditStep' class='btn btn-lg pull-right editControlButton'>
                <span style='color:red'class='glyphicon glyphicon-remove pull-right'></span>
            </button>
            <a href='{% url "delete_step" project_id=project_id step_id=step %}'>
                <button class='btn btn-lg pull-right editControlButton'>
                    <span class='glyphicon glyphicon-trash' style='color:black;'></span>
                </button>
            </a>
            <button type='submit' form='stepPostForm_{{step}}' class='btn btn-lg pull-right editControlButton'>
                <span class='glyphicon glyphicon-floppy-disk' style='color:black;'></span>
            </button>            
            <h4 style='font-size:25px'>
                Step {{step_order}}
            </h4>                        
        </div>
        <form enctype="multipart/form-data" method='POST' action="" id='stepPostForm_{{step}}'>
        <div class='panel-body' id='stepPanelBody'>
            {% csrf_token %}
            <div class='row'>
                <div class='col-md-6'>
                        {% crispy description_form %}
                </div>
                <div class='thumbnail col-md-6'>
                    {% if step_image_url %}
                        <a class='stepImage activeMedia' href='{{step_image_url}}' id='pictureMedia'><img src="{{step_image_url}}" alt=""></a>
                    {% endif %}
                    {% if step_video_url and step_image_url%}
                        <div class='embed-responsive embed-responsive-16by9 hiddenMedia' id='videoMedia'>
                            <iframe class='embed-responsive-item' src='{{step_video_url}}'></iframe>
                        </div>
                    {% elif step_video_url %}
                        <div class='embed-responsive embed-responsive-16by9 activeMedia' id='videoMedia'>
                            <iframe class='embed-responsive-item' src='{{step_video_url}}'></iframe>
                        </div>                    
                    {% endif %}

                    <div id='mediaButtonContainer'>
                        {% if step_image_url and step_video_url%}
                        <span>
                            <button class='btn btn-default mediaButton' id='pictureButton' style='float:right' type='button'>
                                <span class='mediaButtonGlyph glyphicon glyphicon-camera'></span>
                            </button>
                        </span>
                        {% endif %}
                        {% if step_video_url and step_image_url %}
                        <span>
                            <button class='btn btn-default mediaButton' style='float:right' id='videoButton' type='button'>
                                <span class='mediaButtonGlyph glyphicon glyphicon-facetime-video'></span>
                            </button>
                        </span>
                        {% endif %}
                            <a href='{% url "media_upload_view" project_id=project_id step_id=step %}' style='float:left' class = 'ajax-popup btn btn-default' role='button'>{% if step_image_url or step_video_url %}Change Media{% else %} Use an Image or Video {%endif%}</a>                        
                    </div>
                </div>



            </div>

<!-- Custom Crispy Form for Purchased Components -->

        <div>
            {{ purchasedcomponent_formset.management_form|crispy }}
        </div>   
        <div>
            <table class="table table-striped table-condensed">
                <thead>
                    {% if purchasedcomponent_formset.readonly and not purchasedcomponent_formset.queryset.exists %}
                    {% else %}
                        <tr>
                            <th>Component</th>
                            {% for field in purchasedcomponent_formset.forms.0 %}
                                {% if field.label and not field.is_hidden %}
                                    <th for="{{ field.auto_id }}" class="control-label {% if field.field.required and not field|is_checkbox %}requiredField{% endif %}">
                                        {{ field.label|safe }}{% if field.field.required and not field|is_checkbox %}<span class="asteriskField">*</span>{% endif %}
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                </thead>

                <tbody id='componentTBody'>
                    
                    {% for form in purchasedcomponent_formset %}
                        {% if form_show_errors and not form.is_extra %}
                            {% include "bootstrap/errors.html" %}
                        {% endif %}

                        <tr>
                            {% if purchasedcomponent %}
                                {% for component in purchasedcomponent %}
                                    {% if component == form.instance %}
                                        <td><a href='{{component.purchased_component_url_link}}'>{{component}}</a></td>
                                        {% for field in form %}
                                            {% include 'bootstrap/field.html' with tag="th" form_show_labels=False %}
                                        {% endfor %}
                                        <td>
                                            <a class=''>
                                                <button class='btn btn-default componentDeleteButton{{component.id}}' type='button' value='{{component.id}}' data-step-id='{{step}}'>
                                                    <span style='color:red'class='glyphicon glyphicon-remove-sign'></span>
                                                </button>
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}                             
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type='button' class='btn btn-default' id='addComponent'>Add Another</button>
         
        </div>

        <table style='display:none'>
            <tbody id='emptyTBody'>
                <tr>
                    <td></th>
                    {% for field in purchasedcomponent_formset.empty_form %}
                        {% include 'bootstrap/field.html' with tag="th" form_show_labels=False %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>          



<!-- End of Custom Crispy Form for Purchased Components-->


                <div>
                    {% if projectfile %}
                        {% for file in projectfile %}
                                File:<a href="{{ file.project_file.url }}" download > {{file.project_file|filename}} </a>
                                <a href='{% url "delete_file" project_id=project_id step_id=step file_id=file.id %}'>DELETE</a>           
                        {% endfor %}
                    {% endif %}
                    {% crispy projectfile_formset formset_helper %} 
                    
                </div>
        </form>   
    </div>

