{% extends "site_base.html" %}
{% load thumbnail %}
{% load filename %}
<!-- Need to load mathfilters(django-mathfilters) to do do division/multiplication/addition/subtraction in templates -->
{% load mathfilters %}

{% block title %}Create - {{block.super}}{% endblock %}

{%block extra_head %} 
	<head>
		{% load staticfiles %}
		<script src='http://code.jquery.com/jquery-latest.js'></script>
	    <script src= "{% static 'project/js/jquery.formset.js' %}" > </script>
	    <script src="{% static 'project/js/jquery.formset.min.js' %}" ></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
	    <!-- Charlie| Brian this is an important include,Autocomplete_light needs to be loaded AFTER jquery -->
	    {% include 'autocomplete_light/static.html' %}
	       
<!--	    <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}"> -->
	</head>
{% endblock %}


{% block body %}
	<div class='container'>
		<div class='page-header'>
	       	<h1>Edit Project</h1>	
       	</div> 
       	<div class='form-group'>
	        <form enctype="multipart/form-data" method='POST' action="">
	            {% csrf_token %}
	            
	            {{form.management_form}}
	            {{form.as_p}}
	            <div>
	            		{{tag_form.management_form}}
	            		{{tag_form.as_p}}
	            		
	                <input type="submit" value="Add Tag" name = '_addtag' >
	            </div>
            </form>       		
       	</div>
        
        <ul>
			{% if tags %}
				{% for tag in tags %}
						<li>#{{ tag.tag }} <form method='post'>{% csrf_token %}<input type="submit" value="Remove Tag: {{ tag.tag }}" name = '_remove_tag_{{ tag.id }}'> </li></form>
				{% endfor %}
			{% endif %}
		</ul>      	            
	    
	    <div class='form-group'>
            <form enctype="multipart/form-data" method='POST' action="">
            	{% csrf_token %}
	            <div>
	            		{{catagory_form.management_form}}
	            		{{catagory_form}}
	            		
	                <input type="submit" value="Add Catagory" name = '_addcat' >
	            </div>
        	</form>	    
	    </div>        

	    <div class='form-group'>
			<form action ='' method = "POST">
				{% csrf_token %}
			    <input type="submit" value="Add Step" name = '_addstep' >
			 	<input type="submit" value="Add Image" name = '_addimage' >
			    <input type="submit" value="Save Project" name = '_save' >
			    <input type="submit" value="Publish Project" name = '_publish' > 
			    <input type="submit" value="Delete Project" name = '_delete_project' >
    		</form>  	    
	    </div>
		<div>
			<ul>
			{% if projectimage %}
				{% for image in projectimage %}
						<li><img src="{{image.image.url}}" alt="" height = 300 /></li>
				{% endfor %}
			{% endif %}	
			</ul>	
		</div>
	</div>

	<div class='container' id='stepContainer'>
        {% if projectstep %}
            {% for step in projectstep %}
                <div class='panel panel-default'>
                    <div class='panel-heading' id='stepPanelHeading'> 
                    	<h4>
                    		<a href="editstep/{{step.id}}/" > Step {{step.order}}</a>
							<form method='POST'>
								{% csrf_token %}
							    <input type="submit" value="Move Step Up" name = '_move_{{step.id}}_step_up' > 
							    <input type="submit" value="Move Step Down" name = '_move_{{step.id}}_step_down' > 
							    <input type="submit" value="Delete This Step" name = '_deletestep_{{step.id}}' >
						    </form>
                    	</h4>

                    </div>
                    <div class='panel-body' id='stepPanelBody'>
                        <div class='row'>
                            <div class='well col-md-6' id='wellStepDescription'>
                                    {{ step.step.project_step_description }}
                            </div>
                            {% if step.step.project_step_image %}
                                    <div class='thumbnail col-md-6' id='stepThumbnail'>
                                        <img src="{{step.step.project_step_image.url}}" alt="">
                                    </div>
                            {% endif %}
                        </div>
                        <table class='table table-striped'>'
                            <thead>
                                <tr>
                                    <th>Component</th>
                                    <th>Price</th>
                                    <th>Quanitity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for component in purchasedcomponent %}
                                    {% if component.purchased_component_for_step == step.step %}
                                        <tr>
                                            <td><a href="{{component.product.url}}">{{component.product.name}}</a></td>
                                            <td>${{component.product.price|div:100}}</td>
                                            <td><span class='badge'>{{component.purchased_component_quantity}}</span></td>
                                        </tr>  
                                               
                                    {% endif %}         
                                {% endfor %} 
                                {% for component in fabricatedcomponent %}
                                    {% if component.fabricated_component_for_step == step.step %}
                                        <tr>
                                            <td><a href="/project/{{component.fabricated_component_from_project.project_link.project_id}}">{{component.fabricated_component_from_project.project_link.project_name}} </a></td>
                                            <td></td>
                                            <td><span class='badge'>{{component.fabricated_component_quantity}}</span></td>
                                        </tr>
                                    {% endif %}         
                                {% endfor %}
                            </tbody>
                        </table>
                            <div>
                                {% for file in projectfile %}
                                    {% if file.project_file_for_step == step.step %}
                                        File:<a href="{{ file.project_file.url }}" download > {{file.project_file|filename}} </a>
                                    {% endif %}             
                                {% endfor %}
                            </div>
                        </div>
                    </div>    
            {% endfor %}
        {% endif %}  
	</div>
{% endblock %}
