{% extends "site_base.html" %}
{% load thumbnail %}
{% load filename %}

{% block title %}Create - {{block.super}}{% endblock %}

{%block extra_head %} 
	<head>
		{% load staticfiles %}
		<script src='http://code.jquery.com/jquery-latest.js'></script>
	    <script src= "{% static 'project/js/jquery.formset.js' %}" > </script>
	    <script src="{% static 'project/js/jquery.formset.min.js' %}" ></script>
	    <!-- Autocomplete_light needs to be loaded AFTER jquery -->
	    {% include 'autocomplete_light/static.html' %}
<!-- 	    
	    <script type="text/javascript">
	        $(function() {	
	            $(".inLine.{{projectstep_formset.prefix}}").formset({
	                prefix: "{{projectstep_formset.prefix}}",
	            })  	                	
	            $(".inLine.{{projectimage_formset.prefix}}").formset({
	                prefix: "{{projectimage_formset.prefix}}",
	            })
	            $(".inLine.{{projectfile_formset.prefix}}").formset({
	                prefix: "{{projectfile_formset.prefix}}",
	            })	            
	            $(".inLine.{{purchasedcomponent_formset.prefix}}").formset({
	                prefix: "{{purchasedcomponent_formset.prefix}}",
	            })      
	            $(".inLine.{{fabricatedcomponent_formset.prefix}}").formset({
	                prefix: "{{fabricatedcomponent_formset.prefix}}",
	            })   	                    	      	
	        })
        </script>
   -->
	 
	       
<!--	    <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}"> -->
	</head>
{% endblock %}


{% block body %}
	<body>
		<div>
	        <h1>Edit Project</h1>
	        <form enctype="multipart/form-data" method='POST' action="">
	            {% csrf_token %}
	            <div>
	                {{ form.as_p }}
	            </div>

    <input type="submit" value="Add Step" name = '_addstep' >
    <input type="submit" value="Save Project" name = '_save' >
    <input type="submit" value="Publish Project" name = '_publish' > 
    <input type="submit" value="Delete Project" name = '_delete' >       

{% if projectstep %}
	<h1> Project Steps </h1>
	{% for step in projectstep %}
		<fieldset>
			<h2> Step {{ forloop.counter }} </h2>
			<ul>
			{{ step.project_step_description }}
			<img src="{{step.project_step_image.url}}" alt="" height = 300 />
			
			{% for component in purchasedcomponent %}
				{% if component.purchased_component_for_step_id == step.id %}
			</ul>
				<ul>
					<h2>Component: 
						<a href="{{component.purchased_component_url_link}}">{{component.purchased_component_name}} 
						</a>
						x {{component.purchased_component_quantity}}
					</h2>
				</ul>	
				{% endif %}			
			{% endfor %}
			
			{% for component in fabricatedcomponent %}
				{% if component.fabricated_component_for_step_id == step.id %}
			</ul>
				<ul>
					<h2>Fabricated Component: 
						<a href="/project/{{component.fabricated_component_from_project.project_id}}">
							<img src="{{fabricated_component_thumbnails.image.url}}" alt="" height = 50 />
							{{component.fabricated_component_from_project.project_name}}
					</a>
					x {{component.fabricated_component_quantity}}
				</h2>
				</ul>	
				{% endif %}			
			{% endfor %}

			{% for file in projectfile %}
				{% if file.project_file_for_step_id == step.id %}
			</ul>
				<ul>
					<h2>File: 
							<a href="{{ file.project_file.url }}" download > {{file.project_file|filename}} </h2></a>
					</a>
				</h2>
				</ul>	
				{% endif %}			
			{% endfor %}						

		</fieldset>



	{% endfor %}

{% endif %}

	            </fieldset>	            
	        </form>
	    </div>
	</body>

{% endblock %}




<!-- 
<body>
	<form enctype="multipart/form-data" method='POST' action="">
		{% csrf_token %}
		<ul>
			<div>
				{% for field in project_form %}
					{{ field }}
				{% endfor %}
			</div>
			<div>
				{{ purchasedcomponent_form.as_ul}}
			</div>
			
			
		</ul
>		<input type="submit" value="Create Project" >
	</form>
</body>
 -->