{% extends "site_base.html" %}

{% block title %}List Projects - {{block.super}}{% endblock %}

{%block body %}
	
	{% if project %}
		<ul>
		{% for prj in project %}
				{% if project_spotlight == true %}
					<li><a href="/project/{{ prj.id }}"> **{{prj.project_name }}**</a></li>
				{% else %}
					<li><a href="/project/{{ prj.id }}"> {{prj.project_name }}</a></li>
				{% endif %}
		{% endfor %}
		</ul>
	{% else %}
		<p>No Projects Found.</p>
	{% endif %}	
	
<!-- <body onload="setupBlocks();">

    {% if project %}
    {% for prj in project %}
				<div class="block">
					<li> {{prj.project_name }} </li>
					<li>{{prj.project_image}} </li> 
					<a href="/{{ prj.id }}"> link </a>
				</div>
        {% endfor %}
    {% else %}
        <p>No Projects Found.</p>
    {% endif %}
	
</body>
	
{% endblock %} -->

