{% extends "site_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create - {{block.super}}{% endblock %}

{%block extra_head %} 
	<head>
	    <style>
	    #createPopup {
			position: relative;
			background: #FFF;
			padding: 20px;
			width: auto;
			max-width: 500px;
			margin: 20px auto;
	    }


	    </style>
	
	</head>
{% endblock %}


{% block body %}
	<body>
		<div class='container-fluid' id='createPopup'>
			<div class='page-header'>
	        	<h1>Create Project</h1>
        	</div>

			<form enctype="multipart/form-data" method='post' action="{% url 'media_upload_view' step_id=step_id project_id=project_id %}" role='form-horizontal'>
			{% csrf_token %}
	       {% crispy image_form %}
	       {% crispy video_form %}
	       <button type="submit" class='btn btn-default'>Submit</button>
	       	</form>

	    </div>

<script>

</script>


	</body>

{% endblock %}





