{% extends "site_base.html" %}
{% load follow_tags %}
{% load thumbnail %}
{% load filename %}
{% load mathfilters %}

{%block body %}

<h1>{{ project.project_name }}</h1>

<form method="POST" action="{% follow_url project user%}">
	{% csrf_token %}
	{% if user|is_following:project = True %}
		<input class="Save_Project" type="submit" value="Remove Project From My Saved Projects" />
	{% else %}
		<input class="follow" type="submit" value="Add Project to My Saved Projects" />
	{% endif %}
</form>


<h2>Created by: {{project.project_creator}}</h2>
<h3>Created at Time: {{project.project_time_created }}</h3>
<h4>Amount of Users that have saved this project: {{saved_project_count }}</h4>

{% if user_is_creator == True %}
	<form action ='' method = 'POST'>
		{% csrf_token %}
		<input type = 'submit' value = 'Revise Project' name = '_revise'>
	</form>
{% endif %}

{% if user_is_creator == False %}
	<form action ='' method = 'POST'>
		{% csrf_token %}
		<input type = 'submit' value = 'Create an Inspired Project' name = '_inspired'>
	</form>
{% endif %}


<fieldset>
	{% if projectimage %}
		{% for image in projectimage %}
			<ul>
				<img src="{{image.image.url}}" alt="" height = 300 />
			</ul>
		{% endfor %}
	{% endif %}
</fieldset>
<fieldset>
	Project Description: {{project.project_description}}

</fieldset>

{% if projectstep %}
	<h1> Project Steps </h1>
	{% for step in projectstep %}
		<fieldset>
			<h2> Step {{ forloop.counter }} </h2>
			<ul>
			{{ step.project_step_description }}
			{% if step.project_step_image %}
				<img src="{{step.project_step_image.url}}" alt="" height = 300 />
			{% endif %}
			
			{% for component in purchasedcomponent %}
				{% if component.purchased_component_for_step_id == step.id %}
			</ul>
				<ul>
					<h2>Component: 
						<!--Can This be on-click open tab? -->
						<a href="{{component.product.url}}">{{component.product.name}} 
						</a>
						x {{component.purchased_component_quantity}} -- ${{component.product.price|div:100}}
					</h2>
				</ul>
				{% endif %}			
			{% endfor %}
			
			{% for component in fabricatedcomponent %}
				{% if component.fabricated_component_for_step_id == step.id %}
			</ul>
				<ul>
					<h2>Fabricated Component: 
						<a href="/project/{{component.fabricated_component_from_project.project_id}}">
							<img src="{{fabricated_component_thumbnails.image.url}}" alt="" height = 50 />
							{{component.fabricated_component_from_project.project_name}}
					</a>
					x {{component.fabricated_component_quantity}}
				</h2>
				</ul>	
				{% endif %}			
			{% endfor %}

			{% for file in projectfile %}
				{% if file.project_file_for_step_id == step.id %}
			</ul>
				<ul>
					<h2>File: 
							<a href="{{ file.project_file.url }}" download > {{file.project_file|filename}} </h2></a>
					</a>
				</h2>
				</ul>	
				{% endif %}			
			{% endfor %}						

		</fieldset>



	{% endfor %}

{% endif %}




<!-- {% if fabricatedcomponent %}
	{% for component in fabricatedcomponent %}
			<ul>
				<h2>Fabricated Component: 
					<a href="/project/{{component.fabricated_component_from_project.id}}">
						<img src="{{fabricated_component_thumbnails.image.url}}" alt="" height = 50 />
						{{component.fabricated_component_from_project.project_name}}
					</a>
					x {{component.fabricated_component_quantity}}
				</h2>
			</ul>
	{% endfor %}

{% else %}
	<ul>  There Are No Fabricated Components </ul>

{% endif %} -->

<!-- {% if error_message %}<p><strong>{{ error_message }} </strong>/</p>{% endif %} -->

{% endblock %}
