{% extends "site_base.html" %}
{% load follow_tags %}
{% load thumbnail %}
{% load filename %}
{% load mathfilters %}
{% load staticfiles %}

{% block extra_head %}

<style>

    .carousel-inner > .item > .img-responsive{
        height:auto;
        max-height:500px;
        width:auto;
    }
    .carousel-inner > .item {
    }  

    .bigProjectImage {
        max-height:400px;
        display: block;
        margin-left:auto;
        margin-right:auto;
    }

    .slideProjectImage {
        max-height:100px;
    }


</style>


{% endblock %}


{%block body %}

<div class='container'>
    <div class='page-header'>
        <h1>{{ project.project_name}} <small> Created by {{project.project_creator}}, Created at Time: {{project.project_time_created}} </small></h1>
        <form method="POST" action="{% project_follow_url published_project_index user%}">
            {% csrf_token %}
            {% if user|is_following:published_project_index = True %}
                <button class='btn btn-default unfollow' name='_unfollow' type='submit'><span class='glyphicon glyphicon-star'></span></button>
            {% else %}
                <button class='btn btn-default follow' name='_follow' type='submit'><span class='glyphicon glyphicon-star-empty'></span></button>
            {% endif %}
            <span class='badge'> {{saved_project_count }}</span>
        </form>         
    </div>
    <div>
        {% for catagory in catagory_list %}
            {{ catagory }}
        {% endfor %}
    </div>
    {% if projectimage %}

        <div class='row pictureBig'>
            {% for image in projectimage %}
                <div><img class='bigProjectImage' src='{{image.image.url}}'></div>
            {% endfor %}
        </div>

        <div class=' row thumbnail pictureSlide'>
        {% for image in projectimage %}
            <div><img class='slideProjectImage'src='{{image.image.url}}'></div>
        {% endfor %}

        </div>
    {% endif %}
    <div class='row well' id='projectDescription'>
        {{project.project_description}}
    </div>

</div>
<div class='container' id='stepContainer'>
        {% if projectstep %}
            {% for step in projectstep %}
                <div class='panel panel-default'>
                    <div class='panel-heading' id='stepPanelHeading'> <h4>Step {{step.order}}</h4> </div>
                    <div class='panel-body' id='stepPanelBody'>
                        <div class='row'>
                            <div class='well col-md-6' id='wellStepDescription'>
                                    {{ step.step.project_step_description }}
                            </div>
                            {% if step.step.project_step_image %}
                                    <div class='thumbnail col-md-6' id='stepThumbnail'>
                                        <img src="{{step.step.project_step_image.url}}" alt="">
                                    </div>
                            {% endif %}
                        </div>
                        <table class='table table-striped'>'
                            <thead>
                                <tr>
                                    <th>Component</th>
                                    <th>Price</th>
                                    <th>Quanitity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for component in purchasedcomponent %}
                                    {% if component.purchased_component_for_step == step.step %}
                                        <tr>
                                            <td><a href="{{component.product.url}}">{{component.product.name}}</a></td>
                                            <td>${{component.product.price|div:100}}</td>
                                            <td><span class='badge'>{{component.purchased_component_quantity}}</span></td>
                                        </tr>  
                                               
                                    {% endif %}         
                                {% endfor %} 
                                {% for component in fabricatedcomponent %}
                                    {% if component.fabricated_component_for_step == step.step %}
                                        <tr>
                                            <td><a href="/project/{{component.fabricated_component_from_project.project_link.project_id}}">{{component.fabricated_component_from_project.project_link.project_name}} </a></td>
                                            <td></td>
                                            <td><span class='badge'>{{component.fabricated_component_quantity}}</span></td>
                                        </tr>
                                    {% endif %}         
                                {% endfor %}
                            </tbody>
                        </table>
                            <div>
                                {% for file in projectfile %}
                                    {% if file.project_file_for_step == step.step %}
                                        File:<a href="{{ file.project_file.url }}" download > {{file.project_file|filename}} </a>
                                    {% endif %}             
                                {% endfor %}
                            </div>
                        </div>
                    </div>    
            {% endfor %}
        {% endif %}                                                
    </div>
        














{% endblock %}


{% block extra_body %}


<!-- Slick Carousel Pictures -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

<link rel='stylesheet' type='text/css' href="{%static 'slick/slick.css'%}"/>
<link rel='stylesheet' type='text/css' href="{%static 'slick/slick-theme.css'%}"/>
<!-- End Slick -->


<script type="text/javascript">

$(document).ready(function(){
  $('.pictureSlide').slick({
    autoplay:true,
    infinite:false,
    centerMode:true,
    speed:300,
    dots:true,
    variableWidth:true,
    focusOnSelect:true,
    slidesToShow:3,
    slidesToScroll:1,
    asNavFor: '.pictureBig'
  });
});

$(document).ready(function(){
  $('.pictureBig').slick({
    fade:true,
    slidesToShow:1,
    slidesToScroll:1,
    arrows:false,
    asNavFor:'.pictureSlide',
    centerMode:true,
    adaptiveHeight:true,
  });
});
                


    jQuery(function ($) {
        $('.panel-heading span.clickable').on("click", function (e) {
            if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });


    });

    $(document).ready(function() {

        $('.ajax-popup').magnificPopup({
            type: 'ajax',
            closeBtnInside:true,
            closeOnBgClick:false,
        });    

        $('body').attr('data-spy','scroll')
        $('body').attr('data-target','.scrollspy')       
        
    }); 

$('[data-toggle=offcanvas]').click(function() {
    $(this).toggleClass('visible-xs text-center');
    $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
    $('.row-offcanvas').toggleClass('active');
    $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
    $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
    $('#btnShow').toggle();
});

$('#affixBox').affix({
    offset:{
        top: $('#affixBox').offset().top
    }
})

</script>


{% endblock %}